<div class="card text-center">
    <div class="card-body">
        <p class="card-text"><%= comment.description %></p>

        <%= render 'reaction_form', comment: comment, type: like_type %>
        <%= render 'reaction_form', comment: comment, type: thumbs_up_type %>
        <%= render 'reaction_form', comment: comment, type: smile_type %>
    </div>
</div>