<div class="card text-center">
    <div class="card-body">
        <%= form_for([ comment.post, comment ], remote: true) do |form| %>
            <div class="form-group mb-3">
                <%= form.text_area :description, class: 'form-control', placeholder: "Comment description" %>
            </div>
        
						<%= form.submit "Update", class: "btn btn-outline-primary btn-block", data: { disable_with: false } %>
        <% end %>
    </div>
</div>