<% if action == :create %>
  <p>Comment successfully created!</p>
<% elsif action == :update %>
  <p>Comment successfully updated!</p>
	<% elsif action == :delete %>
  <p>Comment successfully deleted!</p>
<% end %>