<% if action == :create %>
	<div class="alert alert-success" role="alert">
		<p class="mb-0">Comment successfully created!</p>
	</div>
<% elsif action == :update %>
  <div class="alert alert-success" role="alert">
		<p class="mb-0">Comment successfully updated!</p>
	</div>
<% elsif action == :delete %>
	<div class="alert alert-success" role="alert">
		<p class="mb-0">Comment successfully deleted!</p>
	</div>
<% end %>