<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= user.email %></h5>        
        <%= link_to 'View Posts', user_posts_path(user), :class => 'btn btn-primary' %>
    </div>
</div>