<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="card card-signin">
        <div class="card-body">
          <h5 class="card-title text-center">New Post</h5>
          <%= render 'create_form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>